body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, ubuntu;
    margin: 0;
    background-color: #e5ddd5;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

input,
button {
    font-family: verdana, ubuntu;
}

.background-div{
    background-image: url("https://web.whatsapp.com/img/bg-chat-tile_9e8a2898faedb7db9bf5638405cf81ae.png");
    background-repeat: repeat;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .06;
    z-index: -1; 
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

.sidebar-elements {
    min-width: 240px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.rce-citem-avatar img {
    font-size: 21px;
    text-align: center;
    line-height: 50px;
    white-space: nowrap;
    color: aliceblue;
}


.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.message-list {
    flex: 1;
    min-width: 140px;
    overflow: auto;
}

.input-area {
    height: 50px;
    background: red;
}

.MuiDialogContent-root { 
    padding: 27px 63px;
    overflow-y: auto;
}